<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo: Criar</title>
</head>
<body>
    
    <h2>Criar um jogo</h2>
    <p>Implemente o formulário de cadastro de um jogo aqui...</p>
</body>
</html>